/*Кнопки START*/
.btn,
.btn__red {
  -webkit-transition: .3s;
  transition: .3s;
}

.btn {
  background: 0 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;
  display: table;
}

.btn__red{
  font-family: "Philosopher", sans-serif;
  background: #ff1122;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff1122), to(#f02a3a));
  background: linear-gradient(to bottom, #ff1122 0%, #f02a3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1122', endColorstr='#f02a3a', GradientType=0);
  -webkit-box-shadow: 0 2px 0 0 rgba(222, 84, 84, .004), 0 10px 35px 0 rgba(179, 45, 45, .3), inset 0 2px 0 0 rgba(150, 54, 130, .004);
  box-shadow: 0 2px 0 0 rgba(222, 84, 84, .004), 0 10px 35px 0 rgba(179, 45, 45, .3), inset 0 2px 0 0 rgba(150, 54, 130, .004);
    text-shadow: 0 1px 0 rgba(174, 27, 34, 0.2);
  background-size: 1px 150%;
  border-bottom: 2px solid #c5242f;
  color: #fff;
}

.btn__red:hover {
  background-size: 1px 100%;
}

.btn__blik {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
}

.btn__blik:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, .7)), color-stop(50%, rgba(229, 172, 142, 0)));
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, .7) 50%, rgba(229, 172, 142, 0));
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
  -ms-transform: rotate(60deg) translate(-5em, 7.5em);
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: sheens 3s infinite;
  animation: sheens 3s infinite;
  z-index: 1;
}

.btn__l {
  font-size: 21px;
  line-height: 29px;
  padding: 22px 68px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn__f {
  font-size: 18px;
  line-height: 29px;
  padding: 12px 55px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

@media only screen and (max-width: 630px){
  .btn__l {
    padding: 11px 32px;
  }
}

@media only screen and (max-width:1023px) {
  .btn_l {
      font-size: 18px;
      line-height: 24px;
  }
}

@media only screen and (max-width:479px) {
  .btn_l {
      padding: 18px 35px;
  }
}

@media only screen and (max-width:360px) {
  .btn_l {
      font-size: 16px;
  }
}

/*! CSS Used keyframes */
@-webkit-keyframes sheens {

  0%,
  79% {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  80% {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  95% {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: rotateZ(60deg) translate(1em, -11em);
      transform: rotateZ(60deg) translate(1em, -11em);
  }

  to {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: rotateZ(60deg) translate(1em, -9em);
      transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes sheens {

  0%,
  79% {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  80% {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  95% {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: rotateZ(60deg) translate(1em, -11em);
      transform: rotateZ(60deg) translate(1em, -11em);
  }

  to {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: rotateZ(60deg) translate(1em, -9em);
      transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/*Кнопки START END*/