<<<<<<< HEAD

/*Форма START*/

.own .wrapForm {
  padding: 25px 0;
}

.own .wrapForm,
.wrapForm_center {
  margin: 0px auto;
}

.wrapForm_reset {
  padding: 0 !important;
  margin: 0px !important;
}

.wrapForm_reset.wrapForm_middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}

.wrapForm_reset .wrapFooter {
  display: none;
}

.wrapForm_reset .mainForm.processing .progress,
.wrapForm_reset .mainForm.processing .overlay-form {
  display: none;
}

.hemail {
  display: none;
}



:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.text::-webkit-input-placeholder {
  opacity: 0.75;
}

.text::-moz-placeholder {
  opacity: 0.75;
}

.text::placeholder {
  opacity: 0.75;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.wrapForm {
  width: 600px;
}

.wrapForm .mainForm {
  border-radius: 6px;
  border: 0px solid #eaeaea;
  box-shadow: 0px 0px 6px 0px #eaeaea;
  padding: 45px 35px;
  margin: 0;
  position: relative;
}

.wrapForm .wrapFooter {
  font-size: 11px;
  color: #666666;
}

.wrapForm .wrapFooter .copyrights {
  margin-top: 12px;
  text-align: center;
}

.wrapForm .wrapFooter .copyrights a {
  color: #666;
  text-decoration: none;
}

.wrapForm .wrapFooter .copyrights a:hover {
  text-decoration: underline;
}

.user_formish {
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  background: #ffffff;
}

.user_formish h3 {
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 1.25;
  background: transparent;
  border-radius: 0px;
  border: 1px solid #ecf0f1;
  box-shadow: none;
  text-align: left;
  padding: 0px 0px 10px 0px;
  margin: 0px 10px 20px 10px;
}

.user_formish div.page {
  display: none;
}

.user_formish div.page.current {
  display: block;
}

.user_formish label.label {
  display: block;
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  text-align: left;
  word-wrap: break-word;
  margin: 0 0 3px;
}

.user_formish .shift a {
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift.error a,
.errorSummary a {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
}

.user_formish div.shift.error {
  background: #e94b35;
  border-radius: 3px;
  border: 0px solid #e94b35;
  box-shadow: none;
  margin: 7px -1px;
  padding-bottom: 5px;
}

.user_formish.slice div.shift.error {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.user_formish div.shift.error .error {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
}

.user_formish .shift.error .info {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  line-height: 1.25;
}

.user_formish .shift .info {
  color: #999999;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 6px;
}

.user_formish.slice .shift .info {
  padding-left: 40%;
  margin-top: -7px;
  margin-bottom: 10px;
  clear: left;
}

.user_formish .shift.type-hidden {
  display: none;
}

.user_formish.slice .shift.type-username .info,
.user_formish.slice .shift.type-socbuttons .info,
.user_formish.slice .shift.type-image .info {
  padding-left: 0;
}

.user_formish div.shift.type-html {
  padding-top: 0;
}

.user_formish div.shift.type-html .unit {
  margin: 5px 0px 15px 0px;
}

.unit__image {
  margin-bottom: 10px;
  text-align: center;
}

.unit__image img {
  cursor: pointer;
}

.user_formish label.label span.required {
  color: #f00;
  font-weight: bold;
}

.user_formish input.text,
.user_formish textarea,
.user_formish select,
.user_formish .type-file .unit .file-fd,
.user_formish .type-autocomplete .select2-container--default .select2-selection--single,
.user_formish .type-autocomplete .select2-container--default .select2-selection--multiple,
.user_formish .type-autocomplete .select2-container--default.select2-container--focus .select2-selection--multiple {
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 3px;
  border: 1px solid #cfd9db;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  transition: all 0.2s linear 0s;
}

.user_formish input.text:focus,
.user_formish textarea:focus,
.user_formish select:focus {
  outline: none;
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 3px;
  border: 1px solid #2c97de;
  box-shadow: 0px 0px 5px 0px rgba(44, 151, 222, 0.2) inset;
  background: #ffffff;
}

.user_formish .unit {
  position: relative;
  margin: 0px 0px 10px 0px;
}

.user_formish.slice .type-select .unit {
  margin-left: 0;
}

.user_formish .unit.noMar {
  margin: 0;
}

.user_formish .unit.value {
  overflow: hidden;
}

.user_formish .unit.value input.text,
.user_formish .unit.value textarea,
.user_formish .unit.value select,
.user_formish .unit.value .selectbox {
  float: left;
  display: block;
  width: 70px;
  min-width: 70px;
  margin-right: 5px;
}

.user_formish .unit.value .units {
  float: left;
  display: block;
  width: 32px;
  font-size: 20px;
  padding: 6px 0 0 0;
}

.user_formish .checkbox,
.user_formish .radio {
  margin: 5px 0px 15px 0px;
  margin-bottom: 8px;
}

.user_formish .checkbox input,
.user_formish .radio input {
  float: left;
  position: relative;
  top: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  margin: 0;
}

.user_formish .checkbox .other input,
.user_formish .radio .other input {
  float: none;
  position: static;
}

.other__wrap .text::-webkit-input-placeholder {
  opacity: 0;
}

.other__wrap .text::-moz-placeholder {
  opacity: 0;
}

.other__wrap .text::placeholder {
  opacity: 0;
}

.user_formish .checkbox label,
.user_formish .radio label {
  padding: 0 0 0 7px;
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift.inline .checkbox,
.user_formish .shift.inline .radio {
  overflow: visible;
  line-height: 0;
  font-size: 0;
  letter-spacing: -.3em;
}

.user_formish .shift.inline .checkbox .unit label,
.user_formish .shift.inline .radio .unit label {
  letter-spacing: normal;
}

.user_formish .shift.inline .checkbox .unit,
.user_formish .shift.inline .radio .unit {
  display: inline-block;
  margin: 0px 7px 5px 1px;
  vertical-align: top;
}

.user_formish.slice .shift .checkbox .unit,
.user_formish.slice .shift .radio .unit {
  margin-top: 8px;
}

.user_formish.slice .shift.inline .checkbox .unit,
.user_formish.slice .shift.inline .radio .unit {
  margin-top: 0px;
}

.user_formish .shift .checkbox .unit,
.user_formish .shift .radio .unit {
  margin: 0px 7px 5px 1px;
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift .checkbox .unit.unit_b,
.user_formish .shift .radio .unit.unit_b {
  margin-bottom: 10px;
}

.user_formish .shift.type-radio.columns-2 .unit,
.user_formish .shift.type-checkbox.columns-2 .unit {
  width: 49%;
}

.user_formish .shift.type-radio.columns-3 .unit,
.user_formish .shift.type-checkbox.columns-3 .unit {
  width: 32%;
}

.user_formish .shift.type-radio.columns-4 .unit,
.user_formish .shift.type-checkbox.columns-4 .unit {
  width: 23.5%;
}

.user_formish .shift.type-radio.columns-2 .unit:nth-child(2n+1),
.user_formish .shift.type-checkbox.columns-2 .unit:nth-child(2n+1),
.user_formish .shift.type-radio.columns-3 .unit:nth-child(3n+1),
.user_formish .shift.type-checkbox.columns-3 .unit:nth-child(3n+1),
.user_formish .shift.type-radio.columns-4 .unit:nth-child(4n+1),
.user_formish .shift.type-checkbox.columns-4 .unit:nth-child(4n+1) {
  clear: both;
}

.wrapForm .user_formish .shift.type-radio.columns-2 .unit:nth-child(2n),
.wrapForm .user_formish .shift.type-checkbox.columns-2 .unit:nth-child(2n),
.wrapForm .user_formish .shift.type-radio.columns-3 .unit:nth-child(3n),
.wrapForm .user_formish .shift.type-checkbox.columns-3 .unit:nth-child(3n),
.wrapForm .user_formish .shift.type-radio.columns-4 .unit:nth-child(4n),
.wrapForm .user_formish .shift.type-checkbox.columns-4 .unit:nth-child(4n) {
  margin-right: 0;
}

.user_formish .shift.type-checkbox.inline .checkbox .unit,
.user_formish .shift.type-radio.inline .radio .unit {
  margin-right: 2%;
  margin-left: 0;
}

.user_formish .shift.inline .other__wrap {
  display: flex;
}

.user_formish .shift.inline .other__wrap .text {
  flex: 1 1 100%;
}

.user_formish .shift .description {
  color: #666666;
  margin-bottom: 10px;
  overflow: hidden;
}

.user_formish .shift .description table {
  border-collapse: collapse;
}

.user_formish .shift .description table thead td,
.user_formish .shift .description table th {
  background: #FFFFFF;
}

.user_formish .shift .description table td,
.description table th {
  border: 1px solid #CCCCCC;
  font-size: 12px;
  padding: 6px 12px;
  text-align: left;
}

.user_formish .shift .image {
  overflow: hidden;
  margin: 15px 0;
  text-align: center;
}

.user_formish .shift {
  padding: 5px 10px 0px;
  margin: 0;
  position: relative;
}

.user_formish .shift.hide,
.user_formish .section.hide {
  display: none;
}

.user_formish.slice .shift.error {
  padding-top: 18px;
}

.user_formish .shift.slice:after,
.user_formish.slice .shift:after {
  content: "";
  clear: both;
  display: block;
}

.user_formish .shift.slice label {
  float: left;
  width: 35%;
}

.user_formish .shift.slice .rc {
  overflow: visible;
  padding-left: 40%;
}

.user_formish .shift.slice .rc label {
  float: none;
  width: auto;
  white-space: nowrap;
}

.user_formish.slice .shift {
  padding: 9px 2px 1px 1px;
}

.user_formish.slice .shift label {
  float: left;
  width: 40%;
  word-wrap: break-word;
}

.user_formish.slice .shift .rc {
  overflow: visible;
  padding-left: 40%;
  margin-top: -8px;
  margin-bottom: 15px;
}

.user_formish.slice .shift.inline {
  margin-bottom: 15px;
}

.user_formish.slice .shift .rc label {
  float: none;
  width: auto;
  white-space: nowrap;
}

.user_formish.slice .shift.nohover {
  overflow: visible;
}

.user_formish.slice .shift .has_sb {
  height: 0;
  line-height: 0;
}


.shift.type-textarea{
  margin-bottom: 35px;
}
.prev-button{
  /* text-align: center; */
}

.user_formish .next {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2c97de;
  border-radius: 3px;
  border: 0px solid #2c97de;
  box-shadow: none;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  outline: none;
}

.user_formish .next:hover {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2b3e51;
  border-radius: 3px;
  border: 0px solid #2b3e51;
  box-shadow: none;
}

.user_formish .prev {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2c97de;
  border-radius: 3px;
  border: 0px solid #2c97de;
  box-shadow: none;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  outline: none;
}

.user_formish .prev:hover {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2b3e51;
  border-radius: 3px;
  border: 0px solid #2b3e51;
  box-shadow: none;
}

.btn .prev {
  margin-right: 5px;
}

.user_formish .btn .reset,
.user_formish .btn .resultBtn {
  margin-left: 5px;
}


.user_formish .errorSummary {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  background: #e94b35;
  border-radius: 3px;
  border: 0px solid #e94b35;
  box-shadow: none;
  margin: 0 10px;
  padding: 5px;
}

.user_formish .errorSummary.errorSummary_bottom {
  margin-top: 20px;
}

.user_formish .errorSummary.errorSummary_top {
  margin-bottom: 20px;
}

.user_formish .errorSummary ul {
  margin: 0;
  padding: 5px 20px;
}

.user_formish .success_message {
  color: #235685;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  background: #DEEEFA;
  border-radius: 0px;
  border: 1px solid #AFD3F2;
  box-shadow: none;
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 20px 0px;
}

.user_formish .success_message p {
  margin: 5px 0;
}

ul.rating {
  list-style: none outside none;
  margin-bottom: 15px;
  padding: 0;
}

ul.rating:last-child {
  margin-bottom: 0;
}

ul.rating li {
  background: none repeat scroll 0 0 transparent;
}

ul.rating li div.rating-row {
  background: none repeat scroll 0 0 #CCCCCC;
  padding: 5px;
  border-radius: 12px;
}

ul.rating li div.rating-row div.rating-result {
  background: none repeat scroll 0 0 #00AAED;
  height: 10px;
  border-radius: 12px;
}

.user_formish input.text,
.user_formish textarea,
.user_formish select,
.user_formish .type-file .unit,
.user_formish .type-file .unit .file-fd,
.user_formish .section .shift {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay-form {
  background: #fff;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.5;
  filter: alpha(Opacity=50);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.mainForm .progress {
  display: none;
}

.mainForm.processing {
  padding-bottom: 37px;
}

.mainForm.processing .progress,
.mainForm.processing .overlay-form {
  display: block;
}

.counter-length {
  position: relative;
}

.counter-length__text {
  font-size: 11.2px;
  color: #666666;
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 50%;
  margin-bottom: -0.6em;
  opacity: 0.7;
}

.type-textarea .counter-length__text {
  bottom: 5px;
  margin-bottom: 0;
}


.user_formish .page .shift .checkbox.load-data .unit,
.user_formish .page .shift .radio.load-data .unit {
  display: none;
}

.checkbox.load-data,
.radio.load-data {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.checkbox.load-data:after,
.radio.load-data:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #666666;
  border-color: #666666 transparent #666666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
          transform: rotate(0deg);
  }

  100% {
          transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {

  .wrapForm,
  .user_formish input.text,
  .user_formish textarea,
  .user_formish .type-select .unit .arrow,
  .user_formish .type-file .unit .file-fd,
  .user_formish .type-username .username,
  .user_formish .type-autocomplete .select2-container,
  .user_formish .type-signature .signature {
          width: 100% !important;
  }

  .user_formish .section.columns-1 .shift,
  .user_formish .section.columns-2 .shift,
  .user_formish .section.columns-3 .shift,
  .user_formish .section.columns-4 .shift,
  .user_formish .section>.section {
          width: auto !important;
          float: none !important;
  }

  .user_formish .section>.section {
          margin-bottom: 10px;
  }

  .user_formish .checkbox .other input.text,
  .user_formish .radio .other input.text {
          display: block;
          margin-top: 6px;
  }

  .own .wrapForm {
          padding: 0;
  }

  .tooltip {
          width: 90%;
          left: auto;
          right: 0;
  }

  body.own {
          background: none;
  }

  .wrapForm_reset.wrapForm_middle {
          margin: 0 !important;
  }
}

@media screen and (max-width: 414px) {

  .user_formish .shift.type-checkbox .checkbox .unit,
  .user_formish .shift.type-radio .radio .unit {
          display: block;
          width: 100%;
          margin-right: 0 !important;
  }

  .popup .wrapForm,
  body.popup {
          padding: 0;
  }

  .popup .wrapForm .mainForm {
          padding-bottom: 75px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 0;
  }
}

.user_formish textarea {
  outline: none;
  resize: none;
  overflow: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user_formish h3 {
  border-left: none;
  border-top: none;
  border-right: none;
}

.user_formish div.shift.error {
  margin: 7px 0px;
  padding-bottom: 3px;
}


.user_formish .radio input+label,
.user_formish .checkbox input+label,
.matrix__column input+label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 17.5px;
}

.wrapForm .user_formish .shift.type-checkbox .checkbox .unit.other,
.wrapForm .user_formish .shift.type-radio .radio .unit.other {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.wrapForm .user_formish .shift.type-checkbox .checkbox .unit.other .text,
.wrapForm .user_formish .shift.type-radio .radio .unit.other .text {
  line-height: 17.5px;
}

.user_formish .radio input[type=radio]:not(checked),
.user_formish .checkbox input[type=checkbox]:not(checked),
.matrix__column input:not(checked) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.user_formish .radio .unit,
.user_formish .checkbox .unit {
  min-height: 18px;
}

.user_formish .radio input[type="radio"]:not(checked)+label,
.user_formish .checkbox input[type="checkbox"]:not(checked)+label {
  padding-left: 25px;
  margin-left: 0;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .radio input[type="radio"]+label:after,
.user_formish .checkbox input[type="checkbox"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input+label:before,
.matrix__column input+label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  top: -1px;
  margin-top: 0;
}

.user_formish .checkbox,
.user_formish .radio {
  padding-top: 1px;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:before,
.matrix__column input+label:before {
  border-radius: 3px;
  border: 1px solid #cfd9db;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  background: transparent;
}

.user_formish .error .radio input[type="radio"]+label:before,
.user_formish .error .checkbox input[type="checkbox"]+label:before {
  background: #ffffff;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .radio input[type="radio"]+label:after,
.matrix__column input[type="radio"]+label:before,
.matrix__column input[type="radio"]+label:after {
  border-radius: 50%;
}

.user_formish .checkbox input[type="checkbox"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input[type="checkbox"]+label:before,
.matrix__column input[type="checkbox"]+label:after {
  border-radius: .25em;
}

.user_formish .radio input[type="radio"]+label:after,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input+label:after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.user_formish .radio input[type="radio"]+label:after,
.matrix__column input[type="radio"]+label:after {
  background-image: url("/images/form/i-radio.svg");
}

.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input[type="checkbox"]+label:after {
  background-image: url("/images/form/i-checkbox.svg");
}

.user_formish .radio input[type="radio"]:checked+label:after,
.user_formish .checkbox input[type="checkbox"]:checked+label::after,
.matrix__column input:checked+label::after {
  display: block;
}

.user_formish .radio input[type="radio"]:checked+label:before,
.user_formish .checkbox input[type="checkbox"]:checked+label:before,
.matrix__column input:checked+label:before {
  display: none;
}

.user_formish .radio input[type="radio"]:checked+label:before,
.user_formish .radio input[type="radio"]:checked+label:after,
.user_formish .checkbox input[type="checkbox"]:checked+label:before,
.user_formish .checkbox input[type="checkbox"]:checked+label:after,
.matrix__column input:checked+label:before,
.matrix__column input:checked+label:after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {

  0%,
  100% {
          -webkit-transform: scale(1);
  }

  50% {
          -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes cd-bounce {

  0%,
  100% {
          -moz-transform: scale(1);
  }

  50% {
          -moz-transform: scale(0.8);
  }
}

@keyframes cd-bounce {

  0%,
  100% {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
  }

  50% {
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
  }
}

.user_formish .shift.inline .checkbox .unit,
.user_formish .shift.inline .radio .unit {
  margin: 0px 7px 7px 1px;
}

.user_formish .shift .checkbox .unit,
.user_formish .shift .radio .unit {
  margin: 0px 7px 7px 1px;
}

.user_formish .errorSummary {
  margin: 0 10px 20px;
  padding: 12px;
}

.progress {
  background: #fff;
  bottom: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
}

.progress .bar {
  animation: 1s linear 0s normal none infinite animate-bg;
  background-color: #00AAED;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
  min-height: 17px;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1px 0;
}

@keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

@-webkit-keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

@-moz-keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

.user_formish .captchaWrap {
  overflow: hidden;
  margin-bottom: 5px;
}

.user_formish.slice .shift .captchaWrap.rc {
  overflow: hidden;
}

.user_formish .captchaWrap .unit {
  float: left;
  margin: 5px 0;
}

.user_formish .captchaWrap .unit .text {
  line-height: 1.25;
}

.user_formish .captchaWrap .captcha {
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
}

.user_formish .captchaWrap .captcha .fld {
  background: #666666;
}

.user_formish .error .captchaWrap .captcha .fld {
  background: #ffffff;
}

.captcha .chr {
  margin: 0 2px;
  border-collapse: collapse;
  float: left;
}

.captcha .chr td {
  width: 4px;
  height: 4px;
  padding: 0;
}
/*Форма END*/
=======

/*Форма START*/

.own .wrapForm {
  padding: 25px 0;
}

.own .wrapForm,
.wrapForm_center {
  margin: 0px auto;
}

.wrapForm_reset {
  padding: 0 !important;
  margin: 0px !important;
}

.wrapForm_reset.wrapForm_middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}

.wrapForm_reset .wrapFooter {
  display: none;
}

.wrapForm_reset .mainForm.processing .progress,
.wrapForm_reset .mainForm.processing .overlay-form {
  display: none;
}

.hemail {
  display: none;
}



:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.text::-webkit-input-placeholder {
  opacity: 0.75;
}

.text::-moz-placeholder {
  opacity: 0.75;
}

.text::placeholder {
  opacity: 0.75;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.wrapForm {
  width: 600px;
}

.wrapForm .mainForm {
  border-radius: 6px;
  border: 0px solid #eaeaea;
  box-shadow: 0px 0px 6px 0px #eaeaea;
  padding: 45px 35px;
  margin: 0;
  position: relative;
}

.wrapForm .wrapFooter {
  font-size: 11px;
  color: #666666;
}

.wrapForm .wrapFooter .copyrights {
  margin-top: 12px;
  text-align: center;
}

.wrapForm .wrapFooter .copyrights a {
  color: #666;
  text-decoration: none;
}

.wrapForm .wrapFooter .copyrights a:hover {
  text-decoration: underline;
}

.user_formish {
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  background: #ffffff;
}

.user_formish h3 {
  color: #666666;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 1.25;
  background: transparent;
  border-radius: 0px;
  border: 1px solid #ecf0f1;
  box-shadow: none;
  text-align: left;
  padding: 0px 0px 10px 0px;
  margin: 0px 10px 20px 10px;
}

.user_formish div.page {
  display: none;
}

.user_formish div.page.current {
  display: block;
}

.user_formish label.label {
  display: block;
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  text-align: left;
  word-wrap: break-word;
  margin: 0 0 3px;
}

.user_formish .shift a {
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift.error a,
.errorSummary a {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
}

.user_formish div.shift.error {
  background: #e94b35;
  border-radius: 3px;
  border: 0px solid #e94b35;
  box-shadow: none;
  margin: 7px -1px;
  padding-bottom: 5px;
}

.user_formish.slice div.shift.error {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.user_formish div.shift.error .error {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
}

.user_formish .shift.error .info {
  color: #ffffff;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  line-height: 1.25;
}

.user_formish .shift .info {
  color: #999999;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 6px;
}

.user_formish.slice .shift .info {
  padding-left: 40%;
  margin-top: -7px;
  margin-bottom: 10px;
  clear: left;
}

.user_formish .shift.type-hidden {
  display: none;
}

.user_formish.slice .shift.type-username .info,
.user_formish.slice .shift.type-socbuttons .info,
.user_formish.slice .shift.type-image .info {
  padding-left: 0;
}

.user_formish div.shift.type-html {
  padding-top: 0;
}

.user_formish div.shift.type-html .unit {
  margin: 5px 0px 15px 0px;
}

.unit__image {
  margin-bottom: 10px;
  text-align: center;
}

.unit__image img {
  cursor: pointer;
}

.user_formish label.label span.required {
  color: #f00;
  font-weight: bold;
}

.user_formish input.text,
.user_formish textarea,
.user_formish select,
.user_formish .type-file .unit .file-fd,
.user_formish .type-autocomplete .select2-container--default .select2-selection--single,
.user_formish .type-autocomplete .select2-container--default .select2-selection--multiple,
.user_formish .type-autocomplete .select2-container--default.select2-container--focus .select2-selection--multiple {
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 3px;
  border: 1px solid #cfd9db;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  transition: all 0.2s linear 0s;
}

.user_formish input.text:focus,
.user_formish textarea:focus,
.user_formish select:focus {
  outline: none;
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 3px;
  border: 1px solid #2c97de;
  box-shadow: 0px 0px 5px 0px rgba(44, 151, 222, 0.2) inset;
  background: #ffffff;
}

.user_formish .unit {
  position: relative;
  margin: 0px 0px 10px 0px;
}

.user_formish.slice .type-select .unit {
  margin-left: 0;
}

.user_formish .unit.noMar {
  margin: 0;
}

.user_formish .unit.value {
  overflow: hidden;
}

.user_formish .unit.value input.text,
.user_formish .unit.value textarea,
.user_formish .unit.value select,
.user_formish .unit.value .selectbox {
  float: left;
  display: block;
  width: 70px;
  min-width: 70px;
  margin-right: 5px;
}

.user_formish .unit.value .units {
  float: left;
  display: block;
  width: 32px;
  font-size: 20px;
  padding: 6px 0 0 0;
}

.user_formish .checkbox,
.user_formish .radio {
  margin: 5px 0px 15px 0px;
  margin-bottom: 8px;
}

.user_formish .checkbox input,
.user_formish .radio input {
  float: left;
  position: relative;
  top: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  margin: 0;
}

.user_formish .checkbox .other input,
.user_formish .radio .other input {
  float: none;
  position: static;
}

.other__wrap .text::-webkit-input-placeholder {
  opacity: 0;
}

.other__wrap .text::-moz-placeholder {
  opacity: 0;
}

.other__wrap .text::placeholder {
  opacity: 0;
}

.user_formish .checkbox label,
.user_formish .radio label {
  padding: 0 0 0 7px;
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift.inline .checkbox,
.user_formish .shift.inline .radio {
  overflow: visible;
  line-height: 0;
  font-size: 0;
  letter-spacing: -.3em;
}

.user_formish .shift.inline .checkbox .unit label,
.user_formish .shift.inline .radio .unit label {
  letter-spacing: normal;
}

.user_formish .shift.inline .checkbox .unit,
.user_formish .shift.inline .radio .unit {
  display: inline-block;
  margin: 0px 7px 5px 1px;
  vertical-align: top;
}

.user_formish.slice .shift .checkbox .unit,
.user_formish.slice .shift .radio .unit {
  margin-top: 8px;
}

.user_formish.slice .shift.inline .checkbox .unit,
.user_formish.slice .shift.inline .radio .unit {
  margin-top: 0px;
}

.user_formish .shift .checkbox .unit,
.user_formish .shift .radio .unit {
  margin: 0px 7px 5px 1px;
  color: #666666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
}

.user_formish .shift .checkbox .unit.unit_b,
.user_formish .shift .radio .unit.unit_b {
  margin-bottom: 10px;
}

.user_formish .shift.type-radio.columns-2 .unit,
.user_formish .shift.type-checkbox.columns-2 .unit {
  width: 49%;
}

.user_formish .shift.type-radio.columns-3 .unit,
.user_formish .shift.type-checkbox.columns-3 .unit {
  width: 32%;
}

.user_formish .shift.type-radio.columns-4 .unit,
.user_formish .shift.type-checkbox.columns-4 .unit {
  width: 23.5%;
}

.user_formish .shift.type-radio.columns-2 .unit:nth-child(2n+1),
.user_formish .shift.type-checkbox.columns-2 .unit:nth-child(2n+1),
.user_formish .shift.type-radio.columns-3 .unit:nth-child(3n+1),
.user_formish .shift.type-checkbox.columns-3 .unit:nth-child(3n+1),
.user_formish .shift.type-radio.columns-4 .unit:nth-child(4n+1),
.user_formish .shift.type-checkbox.columns-4 .unit:nth-child(4n+1) {
  clear: both;
}

.wrapForm .user_formish .shift.type-radio.columns-2 .unit:nth-child(2n),
.wrapForm .user_formish .shift.type-checkbox.columns-2 .unit:nth-child(2n),
.wrapForm .user_formish .shift.type-radio.columns-3 .unit:nth-child(3n),
.wrapForm .user_formish .shift.type-checkbox.columns-3 .unit:nth-child(3n),
.wrapForm .user_formish .shift.type-radio.columns-4 .unit:nth-child(4n),
.wrapForm .user_formish .shift.type-checkbox.columns-4 .unit:nth-child(4n) {
  margin-right: 0;
}

.user_formish .shift.type-checkbox.inline .checkbox .unit,
.user_formish .shift.type-radio.inline .radio .unit {
  margin-right: 2%;
  margin-left: 0;
}

.user_formish .shift.inline .other__wrap {
  display: flex;
}

.user_formish .shift.inline .other__wrap .text {
  flex: 1 1 100%;
}

.user_formish .shift .description {
  color: #666666;
  margin-bottom: 10px;
  overflow: hidden;
}

.user_formish .shift .description table {
  border-collapse: collapse;
}

.user_formish .shift .description table thead td,
.user_formish .shift .description table th {
  background: #FFFFFF;
}

.user_formish .shift .description table td,
.description table th {
  border: 1px solid #CCCCCC;
  font-size: 12px;
  padding: 6px 12px;
  text-align: left;
}

.user_formish .shift .image {
  overflow: hidden;
  margin: 15px 0;
  text-align: center;
}

.user_formish .shift {
  padding: 5px 10px 0px;
  margin: 0;
  position: relative;
}

.user_formish .shift.hide,
.user_formish .section.hide {
  display: none;
}

.user_formish.slice .shift.error {
  padding-top: 18px;
}

.user_formish .shift.slice:after,
.user_formish.slice .shift:after {
  content: "";
  clear: both;
  display: block;
}

.user_formish .shift.slice label {
  float: left;
  width: 35%;
}

.user_formish .shift.slice .rc {
  overflow: visible;
  padding-left: 40%;
}

.user_formish .shift.slice .rc label {
  float: none;
  width: auto;
  white-space: nowrap;
}

.user_formish.slice .shift {
  padding: 9px 2px 1px 1px;
}

.user_formish.slice .shift label {
  float: left;
  width: 40%;
  word-wrap: break-word;
}

.user_formish.slice .shift .rc {
  overflow: visible;
  padding-left: 40%;
  margin-top: -8px;
  margin-bottom: 15px;
}

.user_formish.slice .shift.inline {
  margin-bottom: 15px;
}

.user_formish.slice .shift .rc label {
  float: none;
  width: auto;
  white-space: nowrap;
}

.user_formish.slice .shift.nohover {
  overflow: visible;
}

.user_formish.slice .shift .has_sb {
  height: 0;
  line-height: 0;
}


.shift.type-textarea{
  margin-bottom: 35px;
}
.prev-button{
  /* text-align: center; */
}

.user_formish .next {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2c97de;
  border-radius: 3px;
  border: 0px solid #2c97de;
  box-shadow: none;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  outline: none;
}

.user_formish .next:hover {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2b3e51;
  border-radius: 3px;
  border: 0px solid #2b3e51;
  box-shadow: none;
}

.user_formish .prev {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2c97de;
  border-radius: 3px;
  border: 0px solid #2c97de;
  box-shadow: none;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  outline: none;
}

.user_formish .prev:hover {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  background: #2b3e51;
  border-radius: 3px;
  border: 0px solid #2b3e51;
  box-shadow: none;
}

.btn .prev {
  margin-right: 5px;
}

.user_formish .btn .reset,
.user_formish .btn .resultBtn {
  margin-left: 5px;
}


.user_formish .errorSummary {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  background: #e94b35;
  border-radius: 3px;
  border: 0px solid #e94b35;
  box-shadow: none;
  margin: 0 10px;
  padding: 5px;
}

.user_formish .errorSummary.errorSummary_bottom {
  margin-top: 20px;
}

.user_formish .errorSummary.errorSummary_top {
  margin-bottom: 20px;
}

.user_formish .errorSummary ul {
  margin: 0;
  padding: 5px 20px;
}

.user_formish .success_message {
  color: #235685;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  background: #DEEEFA;
  border-radius: 0px;
  border: 1px solid #AFD3F2;
  box-shadow: none;
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 20px 0px;
}

.user_formish .success_message p {
  margin: 5px 0;
}

ul.rating {
  list-style: none outside none;
  margin-bottom: 15px;
  padding: 0;
}

ul.rating:last-child {
  margin-bottom: 0;
}

ul.rating li {
  background: none repeat scroll 0 0 transparent;
}

ul.rating li div.rating-row {
  background: none repeat scroll 0 0 #CCCCCC;
  padding: 5px;
  border-radius: 12px;
}

ul.rating li div.rating-row div.rating-result {
  background: none repeat scroll 0 0 #00AAED;
  height: 10px;
  border-radius: 12px;
}

.user_formish input.text,
.user_formish textarea,
.user_formish select,
.user_formish .type-file .unit,
.user_formish .type-file .unit .file-fd,
.user_formish .section .shift {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay-form {
  background: #fff;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.5;
  filter: alpha(Opacity=50);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.mainForm .progress {
  display: none;
}

.mainForm.processing {
  padding-bottom: 37px;
}

.mainForm.processing .progress,
.mainForm.processing .overlay-form {
  display: block;
}

.counter-length {
  position: relative;
}

.counter-length__text {
  font-size: 11.2px;
  color: #666666;
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 50%;
  margin-bottom: -0.6em;
  opacity: 0.7;
}

.type-textarea .counter-length__text {
  bottom: 5px;
  margin-bottom: 0;
}


.user_formish .page .shift .checkbox.load-data .unit,
.user_formish .page .shift .radio.load-data .unit {
  display: none;
}

.checkbox.load-data,
.radio.load-data {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.checkbox.load-data:after,
.radio.load-data:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #666666;
  border-color: #666666 transparent #666666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
          transform: rotate(0deg);
  }

  100% {
          transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {

  .wrapForm,
  .user_formish input.text,
  .user_formish textarea,
  .user_formish .type-select .unit .arrow,
  .user_formish .type-file .unit .file-fd,
  .user_formish .type-username .username,
  .user_formish .type-autocomplete .select2-container,
  .user_formish .type-signature .signature {
          width: 100% !important;
  }

  .user_formish .section.columns-1 .shift,
  .user_formish .section.columns-2 .shift,
  .user_formish .section.columns-3 .shift,
  .user_formish .section.columns-4 .shift,
  .user_formish .section>.section {
          width: auto !important;
          float: none !important;
  }

  .user_formish .section>.section {
          margin-bottom: 10px;
  }

  .user_formish .checkbox .other input.text,
  .user_formish .radio .other input.text {
          display: block;
          margin-top: 6px;
  }

  .own .wrapForm {
          padding: 0;
  }

  .tooltip {
          width: 90%;
          left: auto;
          right: 0;
  }

  body.own {
          background: none;
  }

  .wrapForm_reset.wrapForm_middle {
          margin: 0 !important;
  }
}

@media screen and (max-width: 414px) {

  .user_formish .shift.type-checkbox .checkbox .unit,
  .user_formish .shift.type-radio .radio .unit {
          display: block;
          width: 100%;
          margin-right: 0 !important;
  }

  .popup .wrapForm,
  body.popup {
          padding: 0;
  }

  .popup .wrapForm .mainForm {
          padding-bottom: 75px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 0;
  }
}

.user_formish textarea {
  outline: none;
  resize: none;
  overflow: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user_formish h3 {
  border-left: none;
  border-top: none;
  border-right: none;
}

.user_formish div.shift.error {
  margin: 7px 0px;
  padding-bottom: 3px;
}


.user_formish .radio input+label,
.user_formish .checkbox input+label,
.matrix__column input+label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 17.5px;
}

.wrapForm .user_formish .shift.type-checkbox .checkbox .unit.other,
.wrapForm .user_formish .shift.type-radio .radio .unit.other {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.wrapForm .user_formish .shift.type-checkbox .checkbox .unit.other .text,
.wrapForm .user_formish .shift.type-radio .radio .unit.other .text {
  line-height: 17.5px;
}

.user_formish .radio input[type=radio]:not(checked),
.user_formish .checkbox input[type=checkbox]:not(checked),
.matrix__column input:not(checked) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.user_formish .radio .unit,
.user_formish .checkbox .unit {
  min-height: 18px;
}

.user_formish .radio input[type="radio"]:not(checked)+label,
.user_formish .checkbox input[type="checkbox"]:not(checked)+label {
  padding-left: 25px;
  margin-left: 0;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .radio input[type="radio"]+label:after,
.user_formish .checkbox input[type="checkbox"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input+label:before,
.matrix__column input+label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  top: -1px;
  margin-top: 0;
}

.user_formish .checkbox,
.user_formish .radio {
  padding-top: 1px;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:before,
.matrix__column input+label:before {
  border-radius: 3px;
  border: 1px solid #cfd9db;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
  background: transparent;
}

.user_formish .error .radio input[type="radio"]+label:before,
.user_formish .error .checkbox input[type="checkbox"]+label:before {
  background: #ffffff;
}

.user_formish .radio input[type="radio"]+label:before,
.user_formish .radio input[type="radio"]+label:after,
.matrix__column input[type="radio"]+label:before,
.matrix__column input[type="radio"]+label:after {
  border-radius: 50%;
}

.user_formish .checkbox input[type="checkbox"]+label:before,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input[type="checkbox"]+label:before,
.matrix__column input[type="checkbox"]+label:after {
  border-radius: .25em;
}

.user_formish .radio input[type="radio"]+label:after,
.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input+label:after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.user_formish .radio input[type="radio"]+label:after,
.matrix__column input[type="radio"]+label:after {
  background-image: url("/images/form/i-radio.svg");
}

.user_formish .checkbox input[type="checkbox"]+label:after,
.matrix__column input[type="checkbox"]+label:after {
  background-image: url("/images/form/i-checkbox.svg");
}

.user_formish .radio input[type="radio"]:checked+label:after,
.user_formish .checkbox input[type="checkbox"]:checked+label::after,
.matrix__column input:checked+label::after {
  display: block;
}

.user_formish .radio input[type="radio"]:checked+label:before,
.user_formish .checkbox input[type="checkbox"]:checked+label:before,
.matrix__column input:checked+label:before {
  display: none;
}

.user_formish .radio input[type="radio"]:checked+label:before,
.user_formish .radio input[type="radio"]:checked+label:after,
.user_formish .checkbox input[type="checkbox"]:checked+label:before,
.user_formish .checkbox input[type="checkbox"]:checked+label:after,
.matrix__column input:checked+label:before,
.matrix__column input:checked+label:after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {

  0%,
  100% {
          -webkit-transform: scale(1);
  }

  50% {
          -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes cd-bounce {

  0%,
  100% {
          -moz-transform: scale(1);
  }

  50% {
          -moz-transform: scale(0.8);
  }
}

@keyframes cd-bounce {

  0%,
  100% {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
  }

  50% {
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
  }
}

.user_formish .shift.inline .checkbox .unit,
.user_formish .shift.inline .radio .unit {
  margin: 0px 7px 7px 1px;
}

.user_formish .shift .checkbox .unit,
.user_formish .shift .radio .unit {
  margin: 0px 7px 7px 1px;
}

.user_formish .errorSummary {
  margin: 0 10px 20px;
  padding: 12px;
}

.progress {
  background: #fff;
  bottom: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
}

.progress .bar {
  animation: 1s linear 0s normal none infinite animate-bg;
  background-color: #00AAED;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
  min-height: 17px;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1px 0;
}

@keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

@-webkit-keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

@-moz-keyframes animate-bg {
  from {
          background-position: 0 0;
  }

  to {
          background-position: 35px 0;
  }
}

.user_formish .captchaWrap {
  overflow: hidden;
  margin-bottom: 5px;
}

.user_formish.slice .shift .captchaWrap.rc {
  overflow: hidden;
}

.user_formish .captchaWrap .unit {
  float: left;
  margin: 5px 0;
}

.user_formish .captchaWrap .unit .text {
  line-height: 1.25;
}

.user_formish .captchaWrap .captcha {
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
}

.user_formish .captchaWrap .captcha .fld {
  background: #666666;
}

.user_formish .error .captchaWrap .captcha .fld {
  background: #ffffff;
}

.captcha .chr {
  margin: 0 2px;
  border-collapse: collapse;
  float: left;
}

.captcha .chr td {
  width: 4px;
  height: 4px;
  padding: 0;
}
/*Форма END*/
>>>>>>> 7285bf2bf2bf2b216733bfd829633635dacc797b
