/*Блок видео на странице+анимация START*/
.presentation__pulse-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  padding-bottom: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.presentation__pulse-bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: pulse-s infinite ease-in-out 2s;
  animation: pulse-s infinite ease-in-out 2s;
}

.presentation__pulse-bg-circle {
  border: 1px solid #e6193a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.presentation__pulse-bg-circle2 {
  width: 85%;
  height: 85%;
}

.presentation__pulse-bg-circle3 {
  width: 70%;
  height: 70%;
}

.presentation__video-reviews__item-video-play {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.presentation__video-reviews__item-video-play {
  background-image: url(../img/icon-play.svg);
  background-color: #fff;
  width: 82px;
  height: 82px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-left: -41px;
  margin-top: -41px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s
}

.presentation__video-reviews__item-video-play {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px)
}

@-webkit-keyframes pulse-s {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse-s {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

.presentation__card-img {
  max-width: 100%;
  height: auto;
}

.presentation {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
 background-clip: border-box;
  border-radius: .25rem;
}

.presentation__card-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.presentation__card-img {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-radius: 15px;
}

.presentation__fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
/*Блок видео на странице+анимация END*/